# Database
backend/db.sqlite3
*.sqlite3

# Python
__pycache__/
*.pyc

# Virtual Environment
p2env/

# React
norm-a1/node_modules/
norm-a1/build/

# VS Code
.vscode/

# Environment Variables
.env
*.env